{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}
    <h1>Commandes du client : {{ client.nom }} {{ client.prenom }}</h1>
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% if client is defined and client is not empty %}

        {% for c in client.commandes %}
            <table>
                <tr><th> Produits </th><th> Quantité </th> </tr>
                {% for ligne in c.lignesDeCommande %}
                <tr><td> {{ ligne.article.libelle }} </td><td> {{ ligne.quantite }} </td> </tr>
                {% endfor %}
                <tr><td> Date : </td><td>{{ c.date|date('d-m-Y') }}</td></tr>
                <tr><td> Etat :</td><td> {% if c.etat == true %} Validée {% else %} Non validée {% endif %}</td></tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
