{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}
    <h1>Liste de souhaits : {{ visiteur.nom }} {{ visiteur.prenom }}</h1>
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="row">
    {% if selection.articles is not empty %}
        <p> {{ selection.nom }} </p>
        {% for p in selection.articles %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img class="imgShop" src="{{ asset('bundles/vitrine/images/' ~ firstImage(p).url) }}" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{{ p.prix }}€</h4>
                        <h4><a href="{{ path('article_show', {'id': p.id }) }}">{{ p.libelle }} </a>
                        </h4>
                        <p>{{ p.description }}</p>
                    </div>
                    <div class="ratings">
                        <p>Stock : {{ p.stock }}</p>
                        <p class="pull-right"><a href="{{ path('ajouterPanier', {'id': p.id}) }} "> Ajouter au panier</a></p>
                        <p><a href="{{ path('retirerListeSouhaits', {'id': p.id}) }} "> Retirer de la liste</a></p>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> Aucun article dans votre liste de souhaits.</p>
    {% endif %}
    </div>
{% endblock %}
