{% extends "VitrineBundle::layout.html.twig" %}

{% block content %}
    <h1>Article</h1>

    <div class="col-md-12">
        <div class="thumbnail divShow">
            {% for i in article.images %}
                <img class="imgFiche" src="{{ asset('bundles/vitrine/images/' ~ i.url) }}" alt="">
            {% endfor %}
            <div class="caption">
                <h4 class="pull-right">{{ article.prix }}€</h4>
                <h4>{{ article.libelle }}</h4>
                <p>{{ article.description }}</p>

            </div>
            <div class="ratings">
                <p class="pull-right"><a href="{{ path('ajouterPanier', {'id': article.id}) }} "> Ajouter au panier</a></p>
                <p>Stock : {{ article.stock }}</p>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('admin_article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
{% endblock %}
